@import "tailwindcss";

@layer base {
  :root {
    --font-grotesk: "Space Grotesk", sans-serif;
    --font-urbanist: "Urbanist", sans-serif;
  }
}
body {
  background: #001605;

  color: #fff;
  font-family: var(--font-space-grotesk, sans-serif);
}
@theme {
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
  --color-primary: #42c822;
}
